body{
	font-family:arial, sans-serif;
}

.add-person-content-div{
  border:1px solid lightgrey;
  padding:15px;
}

.main-div{
	padding:15px;
}

.add-person-div{
	margin-bottom:10px;
}

@media screen and (min-width: 760px){
  .add-person-content-div{
    border:1px solid lightgrey;
    padding:15px;
    width:35%;
  }

}
